In [8]:
import pandas as pd
import geopandas as gpd

In [7]:
df = pd.read_csv('../data/input/viirs/VNF_npp_d20171201_noaa_v30-ez.csv')

df.head(3)

,id,id_Key,Date_Proc,Lat_GMTCO,Lon_GMTCO,Date_Mscan,Date_LTZ,Temp_BB,Temp_Bkg,ESF_BB,...,Cloud_Mask,QF_Fit,QF_Detect,Sample_M10,Line_M10,Sample_DNB,Line_DNB,File_M10,File_DNB,Source_ID
0,2,x1000966E_y503894N_l0030_s0792_v30,2017/12/05 11:45:51,50.389370,100.096634,2017/12/01 18:46:02.701,2017-12-02 02:46:02.701,967,249,0.000018,...,0,34,12848,792,30,1078,32,SVM10_npp_d20171201_t1846006_e1847248_b31587_c...,SVDNB_npp_d20171201_t1846006_e1847248_b31587_c...,NaN
1,3,x1001052E_y503926N_l0034_s0793_v30,2017/12/05 11:45:51,50.392555,100.105202,2017/12/01 18:46:04.480,2017-12-02 02:46:04.480,1016,249,0.000015,...,999999,34,13872,793,34,1079,31,SVM10_npp_d20171201_t1846006_e1847248_b31587_c...,SVDNB_npp_d20171201_t1846006_e1847248_b31587_c...,NaN
2,12,x1191472E_y459453N_l0238_s2461_v30,2017/12/05 11:45:51,45.945339,119.147217,2017/12/01 18:46:25.832,2017-12-02 02:46:25.832,986,249,0.000092,...,0,34,16241,2461,238,3063,240,SVM10_npp_d20171201_t1846006_e1847248_b31587_c...,SVDNB_npp_d20171201_t1846006_e1847248_b31587_c...,NaN

In [ ]:
census = gpd.read_file('../data/input/census/tl_2017_us_county.shp)